.main_chat
  .main_chat__group-info
    .main_chat__group-info__group-name
      = @group.name
      %ul.main_chat__group-info__group-name__member
        member：
        %li.main_chat__group-info__group-name__member-test
          - @group.group_users.each do |group_user|
            = group_user.user.name 
    .main_chat__group-info__edit-menu
      =link_to edit_group_path(@group), class: "main_chat__group-info__edit-menu__icon" do
        Edit
  
  .main_chat__message-list
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__text
        = f.text_field :content, class: 'form__text__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  