.side_bar
  .side_bar__user-name
    .side_bar__user-name__box
      .side_bar__user-name__box__items
        .side_bar__user-name__box__items__item-user
          = current_user.name
        .side_bar__user-name__box__items__item-icon
          =link_to edit_user_path(current_user), class: "side_bar__user-name__box__items__item-icon__item-btn" do
            = icon('fas', 'cog', class: "side_bar_icon-setting")
          
          =link_to new_group_path ,class: "side_bar__user-name__box__items__item-icon__item-btn"  do
            = icon('far', 'edit', class: "side_bar_icon-edit" )

         
  .side_bar__group-list
    - current_user.groups.each do |group|
      .side_bar__group-list__group
        = link_to group_messages_path(group) do
          .side_bar__group-list__group__group-name
            = group.name
          .side_bar__group-list__group__group-message
            = group.show_last_message